################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G733_Dolby_Atmos_companion/.vs/G733_Dolby_Atmos_companion
/G733_Dolby_Atmos_companion/G733_Dolby_Atmos_companion/.vs/G733_Dolby_Atmos_companion/v17
/G733_Dolby_Atmos_companion/.vs/G733_Companion
/G733_Dolby_Atmos_companion/G733_Dolby_Atmos_companion/.vs
